@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <p class="font-weight-bold">
        Inland Lake Marina
    </p>
</div>
<div class="row">
    <p>
        Box 123
    </p>
</div>
<div class="row">
    <p>
        Inland Lake, Arizona
    </p>
</div>
<div class="row">
    <p>
        86038
    </p>
</div>
<div class="row">
    <p>
        (office phone) 928-555-2234
    </p>
</div>
<div class="row">
    <p>
        (leasing phone) 928-555-2235
    </p>
</div>
<div class="row">
    <p>
        (fax) 928-555-2236
    </p>
</div>
<div class="row">
    <p class="font-weight-bold">
        Manager: Glenn Cooke
    </p>
</div>
<div class="row">
    <p class="font-weight-bold">
        Slip Manager: Kimberley Carson
    </p>
</div>
<div class="row">
    <p>
        Contact email: info@inlandmarina.com
    </p>
</div>



