@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron bg-transparent">
        <h1 class="display-4">Welcome to Inland Marina</h1>
        <p>
            Welcome to Inland Marina located on the south shore Inland Lake, just a small commute from major
            centers in the southwest.
        </p>
    </div>
    <div class="container">
        <div class="row">
           
            <div class="col col-md-6">
                <div class="card">
                    <img class="card-img-top" src="~/Images/matt-thornhill-M8T7TMl5OHs-unsplash.jpg" alt="No Image">
                    <div class="card-body">
                        <h5 class="card-title">3 Docks to Choose From</h5>
                        <p class="card-text">All the amenities </p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Dock" asp-action="Index">3 Docks to Choose From</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="card">
                    <img class="card-img-top" src="~/Images/geran-de-klerk-AXSoVgLaHmc-unsplash.jpg" alt="No Image">
                    <div class="card-body">
                        <h5 class="card-title">We Have Slips</h5>
                        <p class="card-text">We have a wide variety of slips available now! </p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Slip" asp-action="Index">Slips Available</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <div class="jumbotron bg-transparent">
        <p>

            Inland Marina was established in the 1967 shortly after Inland Lake was created as a result of the
            Southwest dam. From its humble beginnings, it has grown to be the largest marina on Inland Lake. Due
            to the warm climate that extends year-round, Inland Lake has become a popular tourist destination in
            the southwest. Boat owners from California, Arizona, Nevada, and Utah are attracted to the area.
            Inland Marina has 90 slips ranging in size from 16 to 32 feet in length. Dock services include electrical
            and fresh water.
        </p>
 </div>
    

